[Unit]
Description=Postiz Orchestrator
After=network.target postiz-temporal.service postiz-backend.service
Requires=postiz-temporal.service

[Service]
Type=simple
User=__APP__
Group=__APP__
WorkingDirectory=__INSTALL_DIR__/
Environment="PATH=__PATH_WITH_NODEJS__"
EnvironmentFile=__INSTALL_DIR__/.env
ExecStart=${PNPM_BIN} run start:prod:orchestrator
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target