[Unit]
Description=Postiz Frontend
After=network.target postiz-backend.service

[Service]
Type=simple
User=__APP__
Group=__APP__
WorkingDirectory=__INSTALL_DIR__/
Environment="PATH=__PATH_WITH_NODEJS__"
EnvironmentFile=__INSTALL_DIR__/.env
Environment=PORT=4200
ExecStart=__NODEJS_DIR__/pnpm run start:prod:frontend
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target