[Unit]
Description=Postiz Backend
After=network.target postgresql.service redis-server.service postiz-temporal.service
Requires=postgresql.service redis-server.service

[Service]
Type=simple
User=__APP__
Group=__APP__
WorkingDirectory=__INSTALL_DIR__/
Environment="PATH=__PATH_WITH_NODEJS__"
EnvironmentFile=__INSTALL_DIR__/.env
ExecStart=__NODEJS_DIR__/pnpm run start:prod:backend
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target